body {
  padding: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: rgb(255, 255, 255);
  margin: 30px;
}

p {
  font-family: 'Open Sauce Sans', sans-serif;
}

main {
  min-height: 800px;
  max-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
}

.secondmain {
  min-height: 800px;
  max-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  background-size: cover;
  background-position: center;
  background-color: blue;
}

@media only screen and (max-width: 768px) {
  body {
    margin: 15px; /* Slightly smaller margin for mobile */
  }

  p {
    font-family: 'Open Sauce Sans', sans-serif;
    font-size: 14px; /* Adjust font size for readability on smaller screens */
  }

  main, .secondmain {
    min-height: fit-content; /* Adjusted for smaller screens */
    max-height: fit-content;
    padding-top: 20px; /* Smaller padding on top */
    background-size: contain; /* Adjust background size for mobile */
    background-image: none;

  }

  .secondmain {
    background-color: lightblue; /* Lighter shade for mobile, if you like */
  }
}